@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #006045;
  --color-secondary: #393e46;
  --color-accent: #f3f3f3;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Set box-sizing globally */
* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

h3 {
  font-size: 32px;
  color: var(--color-secondary);
  font-weight: 600;
  line-height: 40px;
}
h4 {
  font-size: 20px;
  color: var(--color-secondary);
  font-weight: 600;
  line-height: 30px;
}

p {
  color: var(--color-secondary);
  opacity: 0.8;
}
